html, body {
  height: 100%;
  margin: 1px;
}

.app, .root, .home {
  height: 100%;
  margin: 1px;
}

.centered {
  text-align: center;
}

.leftABit {
  text-indent: 45px;
}

.transactions {
  background-color: #1fdb83;
  background-image: linear-gradient(141deg, #a2cd3e 0%, #1fdb74 51%, #2ce858 75%);
  width: 100%;
  height: 19%;
  border: solid black 1px;
  overflow: auto;
  z-index: 1;
}

.transaction {
  display: inline-block;
  border: solid black 1px;
  margin: 1px;
  padding: 2px;
}

.blockTree {
  background-color: #1fc8db;
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  width: 100%;
  height: 80%;
  /* min-height: 400px; */
  border: solid black 1px;
  z-index: 100;
}

.blockLabel {
}

.blockOverlay {
  width: 80%;
  height: 80%;
  margin: 10%;
  margin-top: 7%;
  border: solid black 1px;
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(242, 242, 242);
  overflow: auto;
}

.closeButton {
  height: 28px;
  width: 30px;
  border-radius: 8px;
  right: 10px;
  top: 0;
  position: absolute;
}

.previousID, .recipient {
  margin: 2px;
  margin-left: 20px;
}

.blockPage, .transactionPage {
  margin: 20px;
}

.transactionPage {
  width: 100%;
  height: 100%;
}

.transactionIcon {
  margin-top: 10%;
  width: 96%;
  height: 50%;
}

.transactionIconFrom, .transactionIconCoins, .transactionIconTo {
  width: 20%;
  height: 70%;
  margin: 3%;
  float: left;
  text-align: center;
  word-wrap: break-word;
  font-size: large;
  font-weight: bold;
}

.transactionIconFrom {

}

.transactionIconCoins {
}

.transactionIconTo {
  width: 40%;
  text-align: right;
  overflow: auto;
}

.transactionIconToRec {
  display: table; 
  vertical-align: middle;
}